@font-face {
    font-family: av;
    src: url(../fonts/av.otf);
}

@keyframes animation {
  from   { opacity: 0%; top:30px; }
  to { opacity: 100%; top:0px; }
}

body{
    font-family: av;
    scroll-behavior: smooth;
}

.header{
    z-index: 1000;
}

.header2{
    z-index: 2000;
}

#dropdownmenu{
    top: 56px;
    left: -13px;
}

#fixed{
    height: 106px;
}

.animation{
    animation-name: animation;
    animation-duration: 2s;
}

.transformicon:hover::before {
    transform: translateX(5px);
    transition: .4s ease;
}

.honorlogo{
    width: 80px;
}

.baricon{
    width: 24px;
    height: 1px;
}

#offcanvasTop{
    top: 107px;
}

.noafter::after{
    display: none;
}

.font1{
    font-size: 8px;
}

.logo{
    width: 300px;
}

.bg{
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.bg3{
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.bg4{
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.icon{
    width: 30px;
    height: 30px;
}

.footerfont{
    font-size: 11px;
}

@media all and (min-width:576px) {
    .bg{
        background-image: url("../images/bg2.jpg");
    }
}